@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{
    /* CSS variables */
    --primary: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    /* l=> light, m=> medium, d=> dark, vd=> very dark */
    --l-grey: hsl(217, 12%, 63%);
    --m-grey: hsl(216, 12%, 54%);
    --d-blue: hsl(213, 19%, 18%);
    --vd-blue: hsl(216, 12%, 8%);
}

/* css reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--vd-blue);
    color: white;
    font-family: 'Overpass', sans-serif;
}

h2,
h3,
h4 {
    margin: 0;
}

h1{
    font-size: 28px;
    margin-bottom: 8px;
}

p{
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 24px;
    color: var(--l-grey);
}

/* MARGIN/PADDING: u r d l - clockwise, ud rl  */
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    width: 412px;
    padding: 32px;
    border-radius: 30px;
}

.circle{
    background-color: var(--d-blue);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-bottom: 32px;
    color: var(--m-grey);
}

.ratings{
    display: flex;
    justify-content: space-between;
}

.cta-primary{
    width: 100%;
    /* padding: 12px; */
    height: 45px;
    background-color: var(--primary);
    color: var(--white);
    font-size: 15px;
    font-weight: 700;
    border-radius: 24px;
    border: 0;
}